.container {

}

div .uchiru-bg-cell {
	background-image: url(../../Image/Background/color-e875c1aeb80984feaea35e9206d56248ed77eb16feede64477bc68b08df59e29.png);
}
div .uchiru-bg-color {
	background-image: url(../../Image/Background/cell-9987ae00289f116cf6d1f23d1049820f01c1000c534cc1c39d9060882f80063d.png);
}
div .uchiru-bg-stuff {
	background-image: url(../../Image/Background/stuff-124d4f39a55f743d41ae005514723d90ae7e61faaf258f2187335151d10556b3.png);
}
.uchiru-bg-cell, .uchiru-bg-color, .uchiru-bg-stuff {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.container img {
	width: 100%;
	z-index: -1;
}