<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8" />
  <title>Addition and subtraction up to 10</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="server/views/CSS/Normalize.css" />
	<link rel="stylesheet" type="text/css" href="server/views/CSS/additionAndSuntractionUpTo10.css" />
</head>
<body>
  <div class="lesson">
  	<div class="lesson--title">Number 10</div>
  	<div class="lesson--cards">
	  <div class="lesson--card-row">
	  	<div class="lesson--card first">
	  	  <a class="t-program-lesson--card-link" href="/number10">
		  	<div class="lesson--card-title">
		  	  <div class="lesson--card-title-button passed"></div>
		  	</div>
		  	<div class="lesson--card-preview" data-content-id="504" style="background: url('server/Image/addAndSub/504-791666bd23c160dad154b709ce981bee.png');"></div>
		  	<div class="lesson--card-block" id="lesson--card-block__green"></div>
		  	<div class="lesson--card-name"><span>Number 10</span></div>
	  	  </a>
	  	</div>
	  	<div class="lesson--card">
	  	  <a class="t-program-lesson--card-link" href="/loadthetruckswith10berries">
		  	<div class="lesson--card-title">
		  	  <div class="lesson--card-title-button passed"></div>
		  	</div>
		  	<div class="lesson--card-preview" data-content-id="504" style="background: url('server/Image/addAndSub/669-f1c937cb2e6ed036d2f7ccefc7dd9c64.png');"></div>
		  	<div class="lesson--card-block" id="lesson--card-block__green"></div>
		  	<div class="lesson--card-name"><span>Load trucks with 10 berries</span></div>
	  	  </a>
	  	</div>
	  	<div class="lesson--card last">
	  	  <a class="t-program-lesson--card-link" href="/loadthetrucks">
	  		<div class="lesson--card-title">
	  	  	  <div class="lesson--card-title-button passed"></div>
	  	  	</div>
	  	  	<div class="lesson--card-preview" data-content-id="504" style="background: url('server/Image/addAndSub/514-9ac5f1ade2e78b531fd79d6cc4c2bfd8.png');"></div>
	  	  	<div class="lesson--card-block" id="lesson--card-block__green"></div>
	  	  	<div class="lesson--card-name"><span>Loa the trucks</span></div>
	  	  </a>
	    </div>
	  </div>
  	</div>
  </div>
</body>
</html>
