@charset "utf-8";
/* CSS Document */

#khung{
	width: 675px;
	height: 554px;
	position: absolute;
	left: 0px;
	top: 48px;
	z-index: 0;
}

#tail1{
	width: 170px;
	height: 164px;
	background-image: url("../../Image/Load trucks with 10 berries/duoi_xe5.png");
	position: absolute;
	left: 100px;
	top: 17px;
	z-index: 0;
}

#tail2{
	width: 170px;
	height: 164px;
	background-image: url("../../Image/Load trucks with 10 berries/duoi_xe8.png");
	position: absolute;
	left: 100px;
	top: 197px;
	z-index: 0;
}

#tail3{
	width: 170px;
	height: 164px;
	background-image: url("../../Image/Load trucks with 10 berries/duoi_xe4.png");
	position: absolute;
	left: 100px;
	top: 374px;
	z-index: 0;
}

#head1{
	width: 215px;
	height: 162px;
	background-image: url("../../Image/Load trucks with 10 berries/dau_xe2.png");
	position: absolute;
	left: 675px;
	top: 65px;
	z-index: 0;
}

#head2{
	width: 215px;
	height: 162px;
	background-image: url("../../Image/Load trucks with 10 berries/dau_xe6.png");
	position: absolute;
	left: 675px;
	top: 245px;
	z-index: 0;
}

#head3{
	width: 215px;
	height: 162px;
	background-image: url("../../Image/Load trucks with 10 berries/dau_xe5.png");
	position: absolute;
	left: 675px;
	top: 422px;
	z-index: 0;
}





