<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<title>Background Game</title>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../CSS/Normalize.css" />
	<link rel="stylesheet" type="text/css" href="../CSS/background_game.css">
	<link rel="stylesheet" type="text/css" href="../CSS/khung_game.css">
</head>
<body>
	<div class="uchiru">
	<div class="uchiru-bg-cell"></div>
	<div class="uchiru-bg-color"></div>
	<div class="uchiru-bg-stuff"></div>
	<img class="uchiru-bg-color" src="../../Image/Background/grad-f07e854ce64f9aee2db7bd67146ff0e4800feeed40c8f7116fcb3b6a048deb64.jpg" />
	<div class="uchiru-box">
		<div class="uchiru-head">
			<a class="back-link" href="#">
				<div class="arrow-left"></div>
				<span>Back</span>
			</a>
			<div class="uchiru-head__right-group">
				<a class="uchiru-locale-dropdown__toggle" href="#">
					<span class="uchiru-locale-dropdown__toggle__text">English</span>
					<span class="uchiru-locale-dropdown__toggle__caret"></span>
				</a>
				<ul class="uchiru-locale-dropdown__menu uchiru-locale-dropdown__menu_pull-right">
					<li class="uchiru-locale-dropdown__menu_item">
						<a href="#" class="uchiru-locale-dropdown__menu__item__link">English</a>
					</li>
					<li class="uchiru-locale-dropdown__menu_item">
						<a href="#" class="uchiru-locale-dropdown__menu__item__link">Việt Nam</a>
					</li>
				</ul>
			</div>
			<div class="beads-wrapper">
				<div class="progress">
					<div class="inner_progess">
						<i class="az_ball_0" id="bead0" style="left: 4px;"></i>
					</div>
				</div>	
			</div>
		</div>
		<div class="card-content">
			
		</div>
	</div>
	</div>

</body>
</html>