<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Completed Screen</title>
	<link href="server/Font/CirceRounded-Regular.otf" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="/server/views/CSS/Normalize.css">
	<link rel="stylesheet" type="text/css" href="/server/views/CSS/completed_screen.css">
</head>
<body>
	<section class="main" style="padding: 1px;">
		<div class="main--content teachers-new-slim">
			<div class="t-card-completed">
				<div class="t-card-completed--title">Well done! You completed the card!</div>
				<div class="t-card-completed--congrats card"></div>
				<div class="t-card-completed--button">
					<a href="/">Go to lesson</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>